<ul class="my-listings-list">
{% for l in listings %}
  <li class="my-listing-item" data-id="{{ l.id }}">
    <a href="/listings/{{ l.id }}/" class="my-listing-link">
      {% if l.image %}
        <img src="{{ l.image }}" alt="{{ l.title }}" class="my-listing-img" style="width:64px;height:64px;object-fit:cover;border-radius:4px;" />
      {% endif %}
      <div class="my-listing-info" style="display:inline-block;vertical-align:top;margin-left:8px;">
        <div class="my-listing-title">{{ l.title }}</div>
        <div class="my-listing-price">{{ l.price }}</div>
      </div>
    </a>
  </li>
{% empty %}
  <li class="my-listing-empty">No listings found</li>
{% endfor %}
</ul>
